<h2>@Environment.Version</h2>
<div>
    <!-- 
        http://blogs.msdn.com/b/davidebb/archive/2010/10/27/turn-your-razor-helpers-into-reusable-libraries.aspx
        http://stackoverflow.com/questions/15352905/asp-net-mvc-update-pre-compiled-razor-view-file-live-in-production -->
     <div>This file is compiled to  @this.GetType().Assembly.CodeBase</div> 
    <pre>

Error	3	The type or namespace name 'WebPages' does not exist in the namespace 'System.Web' (are you missing an assembly reference?)	X:\jsc.svn\examples\javascript\test\TestCSHTMLAsset\TestCSHTMLAsset\Views\ConfirmUser.cshtml	1	1	TestCSHTMLAsset
Error	4	The type or namespace name 'WebPages' does not exist in the namespace 'System.Web' (are you missing an assembly reference?)	X:\jsc.svn\examples\javascript\test\TestCSHTMLAsset\TestCSHTMLAsset\Views\ConfirmUser.cshtml	1	1	TestCSHTMLAsset
Error	5	The type or namespace name 'WebPages' does not exist in the namespace 'System.Web' (are you missing an assembly reference?)	X:\jsc.svn\examples\javascript\test\TestCSHTMLAsset\TestCSHTMLAsset\Views\ConfirmUser.cshtml	1	1	TestCSHTMLAsset
Error	1	The type or namespace name 'Linq' does not exist in the namespace 'System' (are you missing an assembly reference?)	X:\jsc.svn\examples\javascript\test\TestCSHTMLAsset\TestCSHTMLAsset\Views\ConfirmUser.cshtml	1	1	TestCSHTMLAsset
Error	2	The type or namespace name 'Helpers' does not exist in the namespace 'System.Web' (are you missing an assembly reference?)	X:\jsc.svn\examples\javascript\test\TestCSHTMLAsset\TestCSHTMLAsset\Views\ConfirmUser.cshtml	1	1	TestCSHTMLAsset
Error	6	The name 'Context' does not exist in the current context	X:\jsc.svn\examples\javascript\test\TestCSHTMLAsset\TestCSHTMLAsset\Views\ConfirmUser.cshtml	1	1	TestCSHTMLAsset
Error	7	'ASP._Page_Views_ConfirmUser_cshtml.Execute()': no suitable method found to override	X:\jsc.svn\examples\javascript\test\TestCSHTMLAsset\TestCSHTMLAsset\Views\ConfirmUser.cshtml	1	1	TestCSHTMLAsset


</pre>
    <p>
        Thank you for confirming your account. Please
    </p>
</div>
