<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="box2dflash" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.Core" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.CorePhysics" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.StarlingSetup" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.UnitTank" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.UnitTankControl" version="1.0.0.0" targetFramework="net40" />
  <package id="net.hires.debug" version="1.0.0.0" targetFramework="net40" />
  <package id="starling" version="1.0.0.0" targetFramework="net40" />
</packages>