<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chrome.Web.Server" version="1.0.0.0" targetFramework="net451" />
  <package id="Chrome.Web.Server.StyledForm" version="1.0.0.0" targetFramework="net451" />
  <package id="Chrome.Web.Store" version="1.0.0.0" targetFramework="net451" />
  <package id="GIFEncoder" version="1.0.0.0" targetFramework="net40" />
  <package id="glMatrixLibrary" version="1.0.0.0" targetFramework="net45" />
  <package id="ScriptCoreLib.Async" version="1.0.0.0" targetFramework="net451" />
  <package id="THREE" version="1.0.0.0" targetFramework="net451" />
  <package id="WebGLColladaExperiment" version="1.0.0.0" targetFramework="net451" />
  <package id="WebGLEscherDrosteEffect" version="1.0.0.0" targetFramework="net40" />
  <package id="WebGLSpiral" version="1.0.0.0" targetFramework="net40" />
  <package id="WebGLTetrahedron" version="1.0.0.0" targetFramework="net45" />
</packages>