<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <add key="xx xj" value="http://127.0.0.1:25053/" />
  </packageSources>
  <activePackageSource>
    <add key="xx xj" value="http://127.0.0.1:25053/" />
  </activePackageSource>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />



  </solution>
</configuration>