<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abstractatech.JavaScript.FileStorage" version="1.0.0.0" targetFramework="net40" />
  <package id="Abstractatech.JavaScript.FormAsPopup" version="1.0.0.0" targetFramework="net40" />
  <package id="Abstractatech.JavaScript.Forms.FloatStyler" version="1.0.0.0" targetFramework="net40" />
  <package id="Abstractatech.JavaScript.TextEditor" version="1.0.0.0" targetFramework="net40" />
  <package id="GrayPatternBackground" version="1.0.0.0" targetFramework="net40" />
  <package id="System.Data.SQLite.x86" version="1.0.86.0" targetFramework="net40" />
  <package id="System.XData.XSQLite.dll" version="1.0.0.0" targetFramework="net45" />
  <package id="WebGLClouds" version="1.0.0.0" targetFramework="net40" />
</packages>