<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RememberFormLocation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RememberFormLocation.Properties.Settings>
            <setting name="FooLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FooTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Foo" serializeAs="String">
                <value />
            </setting>
            <setting name="button2form" serializeAs="String">
                <value />
            </setting>
        </RememberFormLocation.Properties.Settings>
    </userSettings>
</configuration>