body {
    font-family: 'Lucida Grande', Verdana, Arial;
    font-size: 12px;
}

.container {
    position: relative;
    height: 300px;
    width: 600px;
    margin: 50px 100px;
    border: 2px solid blue;
    -webkit-perspective: 600px;
    -moz-perspective: 500px;
    -o-perspective: 500px;
    -ms-perspective: 500px;
    perspective: 500px;
}

.parent {
    margin: 10px;
    width: 580px;
    height: 280px;
    background-color: #844BCA;
    opacity: 0.8;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: spin 10s infinite linear;
    -moz-animation: spin 10s infinite linear;
    -o-animation: spin 10s infinite linear;
    -ms-animation: spin 10s infinite linear;
    animation: spin 10s infinite linear;
}

.container:hover #parent {
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    -o-transform-style: flat;
    -ms-transform-style: flat;
    transform-style: flat;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateY(-15deg);
    }

    50% {
        -webkit-transform: rotateY(15deg);
    }
    
    100% {
        -webkit-transform: rotateY(-15deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotateY(0);
    }

    to {
        -moz-transform: rotateY(360deg);
    }
}

@-o-keyframes spin {
      from { -o-transform: rotateY(0); } 
	  to   { -o-transform: rotateY(360deg); }
    }

@-ms-keyframes spin {
    from {
        -ms-transform: rotateY(0);
    }

    to {
        -ms-transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

.parent > div {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 200px;
    height: 200px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 12pt;
}

.parent > :first-child {
    background-color: #49DC93;
    -webkit-transform: translateZ(-100px) rotateY(45deg);
    -moz-transform: translateZ(-100px) rotateY(45deg);
    -o-transform: translateZ(-100px) rotateY(45deg);
    -ms-transform: translateZ(-100px) rotateY(45deg);
    transform: translateZ(-100px) rotateY(45deg);
}

.parent > :last-child {
    background-color: #FF6;
    -webkit-transform: translateZ(50px) rotateX(20deg);
    -moz-transform: translateZ(50px) rotateX(20deg);
    -o-transform: translateZ(50px) rotateX(20deg);
    -ms-transform: translateZ(50px) rotateX(20deg);
    transform: translateZ(50px) rotateX(20deg);
    -webkit-transform-origin: 50% top;
    -moz-transform-origin: 50% top;
    -o-transform-origin: 50% top;
    -ms-transform-origin: 50% top;
    transform-origin: 50% top;
}
