<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abstractatech.ActionScript.Audio" version="1.0.0.0" targetFramework="net40" />
  <package id="Abstractatech.ConsoleFormPackage" version="1.0.0.0" targetFramework="net40" />
  <package id="Abstractatech.JavaScript.FormAsPopup" version="1.0.0.0" targetFramework="net40" />
  <package id="box2dflash" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.Core" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.CoreAudio" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.CorePhysics" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.StarlingSetup" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.UnitBunkerControl" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.UnitPed" version="1.0.0.0" targetFramework="net40" />
  <package id="FlashHeatZeeker.UnitPedControl" version="1.0.0.0" targetFramework="net40" />
  <package id="net.hires.debug" version="1.0.0.0" targetFramework="net40" />
  <package id="starling" version="1.0.0.0" targetFramework="net40" />
</packages>