<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <runtime>
    <bypassTrustedAppStrongNames enabled="false" />


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="ILSpy"
          publicKeyToken="*"
          culture="en-us" />
        <!-- Publisher policy can be set only in the application 
          configuration file. -->
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
    </assemblyBinding>
    
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>