

        .cgift_box {
	position: relative;
	left: 80px;
	top: 130px;
	width: 20px;
	height: 20px;
	overflow: visible;
}

.cgift_box>img {
	position: absolute;
	left: 0;
	top: 0;
}

.cboxlid {
	position: absolute;
	left: 0;
	top: 0;

	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
	overflow: hidden;
	background: url(boxf3.png);
	font-size: 13px;
}

.cfront_panel {
	position: absolute;
	left: 0;
	top: 0;

	margin: 0;
	padding: 0;
	width: 200px;
	height: 80px;
	overflow: hidden;
}

.cresize_handle {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;

	background: url(handle.gif) no-repeat top left;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.cboxlid .box_label {
	color: #543;
	padding: 9px 2px;
	text-align: center;
}

.cbottom_panel, .cbottom_inner {
	position: absolute;
	left: 0;
	top: 0;

	width: 200px;
	height: 200px;
	overflow: hidden;
	background: url(boxf2.png);
}
.cbottom_panel textarea {
	width: 90px;
	height: 90px;
	margin: 3px;
	padding: 0;
	font-size: 10px;
	border: none;
	background-color: transparent;
}

.cbottom_inner {
	text-align: center;
}

.cbottom_inner iframe {
	width: 200px;
	height: 170px;
	border: none;
	background-color: #fff;
}

.box_label h2 {
	margin:  30px 10px 10px 10px;
	padding: 0;
	font-size: 11px;
}

button {
	margin: 1px;
	cursor: pointer;
}

  