head, title {
    display: block;
}

title.onscroll {

    background-color: rgba(0, 0, 0, 0.4);

}

title {
    font-family: Verdana;
    font-size: xx-large;
    text-shadow: 2px 2px 2px #333;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.2em;
    padding-left: 0.5em;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 32px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;

    transition: background-color .15s linear;
    -webkit-transition: background-color .15s linear;
}

body {
    padding-top: 4em;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
