<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
      <add key="jsc solutions" value="http://jsc-analytics.appspot.com/" />
  </packageSources>
  <activePackageSource>
      <add key="jsc solutions" value="http://jsc-analytics.appspot.com/" />
  </activePackageSource>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />



  </solution>
</configuration>