<?xml version="1.0"?>
<configuration>
  <startup>
    <!-- 
      If we build an assembly in .net 4 it cannot be referenced by .net 2
    -->



    <!-- http://msdn.microsoft.com/en-us/library/w4atty68.aspx -->
    
    <!--<supportedRuntime version="v4.0.30128"/>
   
    <supportedRuntime version="v3.5"/>
     <supportedRuntime version="v4.0"/>
 -->
   
    <supportedRuntime version="v2.0.50727"/>

  </startup>
</configuration>
