<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <!-- 
      If we build an assembly in .net 4 it cannot be referenced by .net 2
    -->
    <!--
    
    
    
    <supportedRuntime version="v4.0.20506"/>
   
    <requiredRuntime version="v4.0.20506" safemode="true"/>
    
	-->
  </startup>
</configuration>