<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abstractatech.JavaScript.FormAsPopup" version="1.0.0.0" targetFramework="net45" />
  <package id="Abstractatech.JavaScript.Forms.AeroStyler" version="1.0.0.0" targetFramework="net45" />
  <package id="ScriptCoreLib.Async" version="1.0.0.0" targetFramework="net453" />
</packages>