<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chrome.Web.Store" version="1.0.0.0" targetFramework="net451" />
  <package id="ScriptCoreLib.Async" version="1.0.0.0" targetFramework="net40" />
  <package id="WebGL.ShaderToy" version="1.0.0.0" targetFramework="net451" />
</packages>