/* article.css - Stylesheet for articles on jorendorff.com */

@import url(common.css);

div.abstract {
    margin: 1em 3em;
    background-color: #f4f4f4;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
}

p {
    padding: 0;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

div.author {
    margin-top: 0;
}

table {
    margin: 2em 5%;
}

table.withcaption {
    margin-top: 0.8em;
}

table caption {
    font-style: italic;
    text-align: left;
    margin: 2em 5% 0.8em;
    padding-bottom: 0.8em;
}

blockquote {
    font-style: italic;
}

ul.verbose li, ol.verbose li {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.cite {
    text-align: right;
}

cite {
    font-style: inherit;
}

pre.sample {
    background-color: #f4f4f4;
    color: black;
    padding: 0.5em;
    margin: 0.5em;
}

pre.sample em {
    font-style: normal;
    color: #aa0000;
}

kbd {
    font-weight: bold;
}

div.figure {
    margin-left: 5%;
}

div.caption {
    font-style: italic;
    margin-bottom: 0;
}

span.label {
    font-weight: bold;
}

del {
    font-style: oblique;
    color: #a66;
}

ins {
    text-decoration: none;
    font-weight: bold;
    color: #080;
}
